*{
    margin: 0;
    padding: 0;
}
header, main{
    padding: 20px;
}
h1, h2, h3, h4{
    font-family: "Sofia", sans-serif;
}
p{
    font-family: "Trirong", serif;
    font-size: 1.5em;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    margin-right: 25px;
}
.half-width{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.start h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
#fimage{
    width: 500px;
}
.anchor-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    padding: 5px;
    background-color:  #049bf1;
    border-radius: 50px;
}
.anchor-button a{
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.anchor-button i{
    display: inline-block;
    margin-left: 1rem;
}
.pcollection h2{
    margin: 10px 0;
    text-align: center;
}
.photo-album{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photo-frame{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.star{
    color: yellow;
    font-size: 20px;
}
.seemore h4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}
.seemore i{
    background-color: transparent;
    margin-left: 5px;
}
.fproducts{
    margin: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.lstart{
    width: 40%;
}
.lstart h1{
    margin-bottom: 1em;
}
.last-anchor-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    padding: 5px;
    background-color:  #049bf1;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.last-anchor-button i{
    display: inline-flex;
    margin-left: 1rem;
}
footer{
    background-color: #050433;
    text-align: center;
    color: blanchedalmond;
    padding: 1.5em;
    font-size: 1em;
}
.footericon{
    margin: 10px;
}
.fade{
    text-decoration: none;
    background-color: rgb(12, 16, 75);
    color: white;
    padding: 7px;
    font-size: 1.5em;
    border-radius: 50%;
}

@media (max-width:688px) {
    body, header, main{
        padding: 0;
        margin: 0;
    }
    nav{
        padding: 20px;
    }
    nav a{
        text-decoration: none;
        color: black;
        font-weight: small;
        font-size: 8px;
        margin-right: 2px;
    }
    .half-width{
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
        font-size: small;
    }
    .start h1{
        font-size: 2rem;
    }
    #fimage{
        width: 100%;
    }
    .anchor-button {
        display: inline-flex;
    }
    .photo img{
        width: 100%;
    }
    .seemore h4{
        width: 100%;
    }
    .lstart{
        width: 100%;
        text-align: center;
        font-size: small;
    }
    .last-anchor-button{
        display: inline-flex;
    }
}

@media only screen and (min-width:689px) and (max-width:1070px) {
    nav{
        padding: 20px;
    }
    nav a{
        text-decoration: none;
        color: black;
        font-weight: small;
        font-size: 8px;
        margin-right: 2px;
    }
    .half-width{
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
        font-size: small;
    }
    .start h1{
        font-size: 3rem;
    }
    #fimage{
        width: 100%;
    }
    .anchor-button {
        display: inline-flex;
    }
    .fproducts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .lstart{
        width: 100%;
        text-align: center;
    }
    .last-anchor-button {
        display: inline-flex;
        margin-bottom: 20px;
    }
}

.animate-charcter{
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
      font-size: 190px;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
